# vens
venv
.ven
.env
venv
# data
data
data_class
data-cropped
cropped-dataset
cropped-dataset-class
# Python things
__pycache__
*.pyc
*.pyo
.DS_Store
# Models
*checkpoint*
*.json
*.safetensors
*.pt
*.pth
*.bin

/mlflow*